/*-----------------*/
/* GLOBAL ELEMENTS */
/*-----------------*/
.header{
    padding: 1;
    text-style: bold;
    text-align: center;
}

.filterable_option_picker_unit{
    height: auto;
    margin-bottom: 0
}

.branches_selector Label{
  margin-left: 1;
  margin-top: 1;
  text-style: bold;
  margin-bottom: 1;
}

.branches_selector OptionList{
  height: 1fr;
  width: 100%;
}

.container{
    border: dashed white;
}

.section_label{
    text-style: bold;
    margin-left: 1;
  }

/*----------------------------*/
/* MODULE | CHERRY FILES DIFF */
/*----------------------------*/

#cherry_files_diff{
    height: 100%;
    width: 1fr;
    padding: 1;
}


#cherry_files_diff_summary{
  border: dashed white;
  padding-left: 1;
}

#cherry_files_diff_summary_header{
  margin-bottom: 0;
  height: 1;
}

#cherry_files_diff_summary_header Label{
  margin-right: 1;
}

#cherry_files_diff_summary_label{
  text-style: bold;
  margin-bottom: 1
}

#files_scroll_container{
  padding-top: 1;
}

.parent_directory{
    text-style: bold;
}

.cherry_files_diff_added_files{
    color: rgb(0, 255, 0);
    text-style: bold;
}

.cherry_files_diff_modified_files{
    color: rgb(255, 255, 0);
    text-style: bold;
}

.cherry_files_diff_deleted_files{
    color: rgb(255, 0, 0);
    text-style: bold;
}

/*------------------------------*/
/* MODULE | CHERRY FILES PICKER */
/*------------------------------*/

#cherry_files_picker{
    height: 100%;
    width: 1fr;
    padding: 1;
}

#cherry_files_tree_container{
    height: 1fr;
    min-height: 0;
}

#files_panel{
    height: 1fr;
    min-height: 0;
}

#cherry_files_tree_container Input{
  margin: 1 0 0 0
}

#cherry_files_tree_container Label{
  margin-left: 1;
  text-style: bold;
}

#files_scroll_container{
  height: 1fr;
  min-height: 0;
  overflow-y: auto;
  padding-top: 0;
  width: 100%;
}
