.section {
    height: 100%;
    width: 1fr;
    border: solid white;
}

.container{
    border: solid white;
}

.green_text{
    color: green 100%
  }

.yellow_text{
    color: yellow 100%
  }

.red_text{
    color: red 100%
  }


